/* Google Fonts Sora*/
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&display=swap');

:root {
    --text-color :  #333333;
    --primary-color :  #333333;
    --secondary-color : #4401DF;
    --tertiary-color : #3C02BE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora';
}

.text-center {
    text-align: center;
}
.weight-medium {
    font-weight: 600;
}

body {
    background-color: whitesmoke;
}

main {
    width: 45%;
    margin: 50px auto 0;
}

h1.title {
    text-align: center;
    margin-bottom: 30px;
    color: var(--text-color);
}

label {
    display: block;
    margin: 10px 0;
    font-weight: 600;
    font-size: 20px;
    color: var(--text-color);
}

.form-group {
    width: 100%;
    margin: 30px 5px;
}
input {
    width: 100%;
    padding: 15px 13px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid  #333333;
    background-color: whitesmoke;
}

input:focus {
    outline: 1px solid var(--primary-color);
}

button {
    background-color: var(--secondary-color);
    padding: 15px;
    color: #FAFAFA;
    font-size: 18px;
    border-radius: 8px;
    border: 0;
    font-weight: 700;
    cursor: pointer;
}
button:hover {
    background-color: var(--tertiary-color) ;
    box-shadow:rgba(53, 46, 46, 0.10);
}

p {
    font-size: 18px;
    color: var(--text-color);
}

/* styling footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    color: #666;
    text-align: center;
    padding: 10px;
 }
 
/* Breakpoint Media Query */
@media screen and (max-width: 850px) {
    h1 {
        font-size: 28px;
    }
    p {
        font-size: 18px;
    }
    main {
        width: 60%;
    }

    input, label {
        font-size: 18px;
    }
    
    button {
        font-size: 18px;
        padding: 8px;
    }
}

@media screen and (max-width: 680px) {
    main {
        width: 80%;
    }
    h1 {
        font-size: 25px;
    }
}


.fade-in{
    animation: fadeIn 1s;
}
/* Keyframes Animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}